body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.sub-title
{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 4px;
    background-color: rgb(0,255,0,0.3);
}
.sub-title:hover
{ background-color: rgb(0,255,0,0.5); }

.sub-details
{
    background-color: rgb(154, 111, 111,0.15);
    padding: 10px 0px 10px 5px;
}
.sub-details:hover
{ background-color: rgb(154, 111, 111,0.3); }

.issuer
{
    color: #0699d4;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}
.year
{
    color: #0699d4;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}